{% extends 'base.html' %}

{% block content %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-{{message.tags}} alert-dismissible fade show my-0" role="alert">
    <strong>{{message}}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}
{% endif %}
<h1 style="text-align: center;">To Do List</h1>
<br>
{% if all_items %}
<table class="table table-bordered" style="text-align:center;">
    <th class="text-white bg-dark">Tasks</th>
    <th class="text-white bg-dark">Status</th>
    <th class="text-white bg-dark">Delete Task</th>
    <th class="text-white bg-dark">Edit Task</th>

    {% for item in all_items%}
    {% if item.completed %}
    <tr class="table table-bordered table-success">
        <td class="striker">{{ item.item }}</a></td>
        <td><a class="button4" href="{% url 'uncross' item.id %}" title='click to mark as undone'>Task is completed</a>
        </td>
        <td><a class="button1" href="{% url 'delete' item.id %}">Delete</a></td>
        <td><a class="button2" href="{% url 'edit' item.id %}">Edit</a></td>

    </tr>
    {% else %}
    <tr class="table table-bordered table-danger">
        <td class="nonstriker">{{ item.item }}</a></td>
        <td><a class="button3" href="{% url 'cross' item.id %}">Mark as Done</a></td>
        <td><a class="button1" href="{% url 'delete' item.id %}">Delete</a></td>
        <td><a class="button2" href="{% url 'edit' item.id %}">Edit</a></td>
    </tr>
    {% endif %}
    {% endfor %}
</table>
{% endif %}
{% endblock %}